In [79]:
import pandas as pd
import numpy as np
import csv


sales_2016 = pd.read_csv('C:/Users/acer/talkative/추정매출_2016.csv', encoding = 'cp949')
sales_2017 = pd.read_csv('C:/Users/acer/talkative/추정매출_2017.csv', encoding = 'cp949')
sales_2018 = pd.read_csv('C:/Users/acer/talkative/추정매출_2018.csv', encoding = 'cp949')
sales_2019 = pd.read_csv('C:/Users/acer/talkative/추정매출_2019.csv', encoding = 'cp949')
sales_2020 = pd.read_csv('C:/Users/acer/talkative/추정매출_2020.csv', encoding = 'cp949')
move = pd.read_csv('C:/Users/acer/talkative/추정유동인구.csv', encoding = 'cp949')
change = pd.read_csv('C:/Users/acer/talkative/상권.csv', encoding = 'cp949')

c:\users\acer\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [80]:
sales = pd.concat([sales_2016, sales_2017, sales_2018, sales_2019, sales_2020]) # 16~20 합치기
sales = sales[['기준_년_코드', '기준_분기_코드', '상권_구분_코드_명', 
               '상권_코드', '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', '당월_매출_금액']]

In [81]:
s_code = sales.iloc[:, 3]
sales.index = s_code.map(str) + " " + sales["서비스_업종_코드_명"].map(str)

In [82]:
s_19 = sales["기준_년_코드"] == 2019
s_20 = sales["기준_년_코드"] == 2020
s_1920 = pd.concat([sales[s_19], sales[s_20]])

s_1920["개수"] = s_1920.groupby(s_1920.index).size()
is_all = s_1920["개수"] == 8
s_1920 = s_1920[is_all]

s_1920

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,개수
1000985 예술학원,2019,1,골목상권,1000985,암사길,CS200003,예술학원,20061598,8
1000267 노래방,2019,1,골목상권,1000267,돌곶이로8길,CS200037,노래방,510636,8
1001001 스포츠 강습,2019,1,골목상권,1001001,천중로39길,CS200005,스포츠 강습,22390312,8
1001483 수산물판매,2019,1,전통시장,1001483,암사종합시장,CS300008,수산물판매,1712543938,8
1000612 슈퍼마켓,2019,1,골목상권,1000612,개봉로1길,CS300001,슈퍼마켓,42028959,8
...,...,...,...,...,...,...,...,...,...
1000001 패스트푸드점,2020,1,골목상권,1000001,계동길,CS100006,패스트푸드점,35752631,8
1000001 제과점,2020,1,골목상권,1000001,계동길,CS100005,제과점,257814129,8
1000001 양식음식점,2020,1,골목상권,1000001,계동길,CS100004,양식음식점,156728306,8
1000001 중식음식점,2020,1,골목상권,1000001,계동길,CS100002,중식음식점,25767161,8
1000001 한식음식점,2020,1,골목상권,1000001,계동길,CS100001,한식음식점,431442455,8

In [83]:
sales = sales[sales["기준_년_코드"] !=2019]
sales = sales[sales["기준_년_코드"] !=2020]

sales["개수"] = sales.groupby(sales.index).size()
is_all = sales["개수"] == 12
s_1618 = sales[is_all]

s_1618

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,개수
1000013 일반의류,2016,1,골목상권,1000013,율곡로10길,CS300011,일반의류,27000000,12
1001271 시계및귀금속,2016,1,전통시장,1001271,동묘시장,CS300017,시계및귀금속,649744,12
1000447 미곡판매,2016,1,골목상권,1000447,증가로10길,CS300006,미곡판매,1856535,12
1000316 스포츠 강습,2016,1,골목상권,1000316,노해로23길,CS200005,스포츠 강습,19867446,12
1000086 인테리어,2016,1,골목상권,1000086,효창원로39길,CS300035,인테리어,30672554,12
...,...,...,...,...,...,...,...,...,...
1000732 중식음식점,2018,4,골목상권,1000732,영신로9길,CS100002,중식음식점,208274869,12
1001487 한의원,2018,4,전통시장,1001487,천호시장,CS200008,한의원,35578749,12
1000644 분식전문점,2018,4,골목상권,1000644,디지털로32길,CS100008,분식전문점,849800508,12
1001021 치과의원,2018,4,발달상권,1001021,가산디지털단지역_1,CS200007,치과의원,384299742,12
1000994 일반의류,2018,4,골목상권,1000994,올림픽로71길,CS300011,일반의류,7041051,12

In [84]:
move = move[['기준 년코드', '기준_분기_코드', ' 상권_구분_코드', '상권_코드', '상권_코드_명', '총_유동인구_수']]

move = move[move["기준 년코드"] !=2014]
move = move[move["기준 년코드"] !=2015]

In [85]:
m_code = move.iloc[:, 3]
move.index = m_code.map(str)

In [86]:
m_19 = move["기준 년코드"] == 2019
m_20 = move["기준 년코드"] == 2020
m_1920 = pd.concat([move[m_19], move[m_20]])

m_1920["개수"] = m_1920.groupby(m_1920.index).size()
is_all = m_1920["개수"] == 8
m_1920 = m_1920[is_all]

m_1920

,기준 년코드,기준_분기_코드,상권_구분_코드,상권_코드,상권_코드_명,총_유동인구_수,개수
상권_코드,,,,,,,
1001496,2019,4,U,1001496,강남 마이스 관광특구,130493,8
1001495,2019,4,U,1001495,잠실 관광특구,3225556,8
1001494,2019,4,U,1001494,종로?청계 관광특구,4917960,8
1001493,2019,4,U,1001493,동대문패션타운 관광특구,3875197,8
1001492,2019,4,U,1001492,명동 남대문 북창동 다동 무교동 관광특구,5278508,8
...,...,...,...,...,...,...,...
1000005,2020,1,A,1000005,백석동길,178717,8
1000004,2020,1,A,1000004,명륜길,623119,8
1000003,2020,1,A,1000003,돈화문로11가길,178244,8
1000002,2020,1,A,1000002,난계로27길,347131,8
1000001,2020,1,A,1000001,계동길,336343,8

In [87]:
move = move[move["기준 년코드"] !=2019]
move = move[move["기준 년코드"] !=2020]

move["개수"] = move.groupby(move.index).size()
is_all = move["개수"] == 12
m_1618 = move[is_all]

m_1618

,기준 년코드,기준_분기_코드,상권_구분_코드,상권_코드,상권_코드_명,총_유동인구_수,개수
상권_코드,,,,,,,
1001496,2018,4,U,1001496,강남 마이스 관광특구,56902,12
1001495,2018,4,U,1001495,잠실 관광특구,1912079,12
1001494,2018,4,U,1001494,종로?청계 관광특구,4524906,12
1001493,2018,4,U,1001493,동대문패션타운 관광특구,2757199,12
1001492,2018,4,U,1001492,명동 남대문 북창동 다동 무교동 관광특구,4905600,12
...,...,...,...,...,...,...,...
1000005,2016,1,A,1000005,백석동길,139,12
1000004,2016,1,A,1000004,명륜길,65833,12
1000003,2016,1,A,1000003,돈화문로11가길,63394,12
1000002,2016,1,A,1000002,난계로27길,159042,12
1000001,2016,1,A,1000001,계동길,76823,12

In [95]:
filter_value = {'전자상거래업':'전자','가전제품': '전자', '핸드폰' : '전자', '컴퓨터및주변장치판매': '전자'
               , '가전제품수리': '전자', '통신기기수리' : '전자', '가구' : '인테리어', '화초' : '인테리어', 
                '조명용품' : '인테리어', '예술품' : '인테리어', '인테리어' : '인테리어',
               '예술학원' : '교육', '외국어학원' : '교육', '일반교습학원' : '교육',
               '고시원': '주거', '여관' : '주거', '부동산중개업' : '주거', '건축물청소' : '주거',
                '섬유제품' : '패션', '시계및귀금속' : '패션', '가방' : '패션', '신발' : '패션', '일반의류' : '패션',
                '한복점' : '패션', '유아의류' : '패션', '패션' : '패션',
                '화장품' : '미용', '피부관리실' : '미용' , '네일숍' : '미용', '미용실' : '미용',
                '운동/경기용품': '취미', '스포츠클럽': '취미', '노래방': '취미', 'pc방': '취미', '골프연습장': '취미', 
                '당구장': '취미', '스포츠 강습': '취미', '자전거 및 기타운송장비': '취미', '볼링장': '취미', '악기': '취미','서적' : '취미',
                '비디오/서적임대': '취미', '반찬가게': '식품', '슈퍼마켓': '식품', '커피-음료': '식품', '분식전문점': '식품', 
                '패스트푸드점': '식품', '제과점': '식품', '양식음식점': '식품', '일식음식점': '식품', '중식음식점': '식품',
                '한식음식점': '식품', '육류판매': '식품', '호프-간이주점': '식품','치킨전문점': '식품', '청과상': '식품', 
                '수산물판매': '식품', '미곡판매': '식품', '의약품': '의료', '치과의원': '의료', '일반의원': '의료', 
                '의료기기': '의료', '한의원': '의료', '자동차수리': '자동차', 
                '자동차미용': '자동차', '자동차부품': '자동차', '중고차판매': '자동차','완구': '기타', '문구': '기타', 
                '안경': '기타', '편의점': '기타', '철물점': '기타', '애완동물': '기타', '여행사': '기타', '사진관': '기타', '세탁소' : '기타',
                '법무사사무소': '기타', '독서실': '기타', '세무사사무소': '기타', '주유소': '기타', '변호사사무소': '기타', '회계사사무소': '기타'}

In [96]:
s_1920["filter"] = s_1920["서비스_업종_코드_명"].apply(lambda x: filter_value[x.lower()])

In [97]:
s_1920.index = s_1920["상권_코드"].map(str)
s_1920

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,개수,filter
상권_코드,,,,,,,,,,
1000985,2019,1,골목상권,1000985,암사길,CS200003,예술학원,20061598,8,교육
1000267,2019,1,골목상권,1000267,돌곶이로8길,CS200037,노래방,510636,8,취미
1001001,2019,1,골목상권,1001001,천중로39길,CS200005,스포츠 강습,22390312,8,취미
1001483,2019,1,전통시장,1001483,암사종합시장,CS300008,수산물판매,1712543938,8,식품
1000612,2019,1,골목상권,1000612,개봉로1길,CS300001,슈퍼마켓,42028959,8,식품
...,...,...,...,...,...,...,...,...,...,...
1000001,2020,1,골목상권,1000001,계동길,CS100006,패스트푸드점,35752631,8,식품
1000001,2020,1,골목상권,1000001,계동길,CS100005,제과점,257814129,8,식품
1000001,2020,1,골목상권,1000001,계동길,CS100004,양식음식점,156728306,8,식품
1000001,2020,1,골목상권,1000001,계동길,CS100002,중식음식점,25767161,8,식품
1000001,2020,1,골목상권,1000001,계동길,CS100001,한식음식점,431442455,8,식품

In [98]:
geo_data_gu.index = geo_data_gu["상권_코드"].map(str)
geo_data_gu

           상권_코드    상권_코드_명  행정구
상권_코드
1001060  1001060       가락시장  NaN
1000507  1000507   가로공원로58길  NaN
1000552  1000552  가로공원로76가길  NaN
1000553  1000553   가로공원로80길  NaN
1001419  1001419      가리봉시장  NaN
...          ...        ...  ...
1000220  1000220      휘경로2길  NaN
1000221  1000221      휘경로3길  NaN
1000778  1000778     흑석로13길  NaN
1000779  1000779      흑석로9길  NaN
1001448  1001448       흑석시장  NaN

[1496 rows x 3 columns]

In [99]:
geo_data_gu = geo_data_gu[['상권_코드', '상권_코드_명','행정구']]
geo_data_gu

           상권_코드    상권_코드_명  행정구
상권_코드
1001060  1001060       가락시장  NaN
1000507  1000507   가로공원로58길  NaN
1000552  1000552  가로공원로76가길  NaN
1000553  1000553   가로공원로80길  NaN
1001419  1001419      가리봉시장  NaN
...          ...        ...  ...
1000220  1000220      휘경로2길  NaN
1000221  1000221      휘경로3길  NaN
1000778  1000778     흑석로13길  NaN
1000779  1000779      흑석로9길  NaN
1001448  1001448       흑석시장  NaN

[1496 rows x 3 columns]

In [100]:
filter_1920 = pd.merge(s_1920, geo_data_gu, left_index=True, right_index=True, how="inner")
filter_1920

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드_x,상권_코드_명_x,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,개수,filter,상권_코드_y,상권_코드_명_y,행정구
상권_코드,,,,,,,,,,,,,
1000001,2019,1,골목상권,1000001,계동길,CS300015,가방,36799021,8,패션,1000001,계동길,종로구
1000001,2019,1,골목상권,1000001,계동길,CS100002,중식음식점,40472439,8,식품,1000001,계동길,종로구
1000001,2019,1,골목상권,1000001,계동길,CS100005,제과점,196276254,8,식품,1000001,계동길,종로구
1000001,2019,1,골목상권,1000001,계동길,CS100004,양식음식점,190423119,8,식품,1000001,계동길,종로구
1000001,2019,1,골목상권,1000001,계동길,CS100010,커피-음료,570413765,8,식품,1000001,계동길,종로구
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001496,2020,1,관광특구,1001496,강남 마이스 관광특구,CS100005,제과점,2411081120,8,식품,1001496,강남 마이스 관광특구,강남구
1001496,2020,1,관광특구,1001496,강남 마이스 관광특구,CS100004,양식음식점,2088803850,8,식품,1001496,강남 마이스 관광특구,강남구
1001496,2020,1,관광특구,1001496,강남 마이스 관광특구,CS100003,일식음식점,2794137730,8,식품,1001496,강남 마이스 관광특구,강남구
1001496,2020,1,관광특구,1001496,강남 마이스 관광특구,CS100002,중식음식점,2440339835,8,식품,1001496,강남 마이스 관광특구,강남구
1001496,2020,1,관광특구,1001496,강남 마이스 관광특구,CS100001,한식음식점,3390244566,8,식품,1001496,강남 마이스 관광특구,강남구

In [101]:
geo_1 =  filter_1920[filter_1920["행정구"] == "종로구"]
geo_2 =  filter_1920[filter_1920["행정구"] == "강남구"]

geo_1

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드_x,상권_코드_명_x,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,개수,filter,상권_코드_y,상권_코드_명_y,행정구
상권_코드,,,,,,,,,,,,,
1000001,2019,1,골목상권,1000001,계동길,CS300015,가방,36799021,8,패션,1000001,계동길,종로구
1000001,2019,1,골목상권,1000001,계동길,CS100002,중식음식점,40472439,8,식품,1000001,계동길,종로구
1000001,2019,1,골목상권,1000001,계동길,CS100005,제과점,196276254,8,식품,1000001,계동길,종로구
1000001,2019,1,골목상권,1000001,계동길,CS100004,양식음식점,190423119,8,식품,1000001,계동길,종로구
1000001,2019,1,골목상권,1000001,계동길,CS100010,커피-음료,570413765,8,식품,1000001,계동길,종로구
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001494,2020,1,관광특구,1001494,종로?청계 관광특구,CS100005,제과점,703285096,8,식품,1001494,종로?청계 관광특구,종로구
1001494,2020,1,관광특구,1001494,종로?청계 관광특구,CS100004,양식음식점,1845934539,8,식품,1001494,종로?청계 관광특구,종로구
1001494,2020,1,관광특구,1001494,종로?청계 관광특구,CS100003,일식음식점,2628374109,8,식품,1001494,종로?청계 관광특구,종로구
1001494,2020,1,관광특구,1001494,종로?청계 관광특구,CS100002,중식음식점,3115020982,8,식품,1001494,종로?청계 관광특구,종로구
1001494,2020,1,관광특구,1001494,종로?청계 관광특구,CS100001,한식음식점,31027003302,8,식품,1001494,종로?청계 관광특구,종로구

In [102]:
geo_1=geo_1.reset_index(drop=False)
geo_1 = geo_1[['기준_년_코드','기준_분기_코드',
               'filter', '당월_매출_금액', '행정구']]

geo_2=geo_2.reset_index(drop=False)
geo_2 = geo_2[['기준_년_코드','기준_분기_코드',
               'filter', '당월_매출_금액', '행정구']]

geo_1

      기준_년_코드  기준_분기_코드 filter     당월_매출_금액  행정구
0        2019         1     패션     36799021  종로구
1        2019         1     식품     40472439  종로구
2        2019         1     식품    196276254  종로구
3        2019         1     식품    190423119  종로구
4        2019         1     식품    570413765  종로구
...       ...       ...    ...          ...  ...
8051     2020         1     식품    703285096  종로구
8052     2020         1     식품   1845934539  종로구
8053     2020         1     식품   2628374109  종로구
8054     2020         1     식품   3115020982  종로구
8055     2020         1     식품  31027003302  종로구

[8056 rows x 5 columns]

In [103]:
geo_1=geo_1.groupby(by=['기준_년_코드','기준_분기_코드', '행정구', 'filter' ]).sum()
geo_1=geo_1.reset_index(drop=False)

geo_2=geo_2.groupby(by=['기준_년_코드','기준_분기_코드', '행정구', 'filter' ]).sum()
geo_2=geo_2.reset_index(drop=False)

geo_1.to_csv('C:/Users/acer/talkative/최종/geo_1.csv', encoding = 'cp949')
geo_2.to_csv('C:/Users/acer/talkative/최종/geo_2.csv', encoding = 'cp949')

In [104]:
import pandas as pd
import numpy as np
import csv


geo_1 = pd.read_csv('C:/Users/acer/talkative/최종/geo_1.csv', encoding = 'cp949')
geo_1 = geo_1[['기준_년_코드','기준_분기_코드',
               'filter', '당월_매출_금액', '행정구']]

geo_2 = pd.read_csv('C:/Users/acer/talkative/최종/geo_2.csv', encoding = 'cp949')
geo_2 = geo_2[['기준_년_코드','기준_분기_코드',
               'filter', '당월_매출_금액', '행정구']]

geo_2

    기준_년_코드  기준_분기_코드 filter      당월_매출_금액  행정구
0      2019         1     교육  1.444030e+11  강남구
1      2019         2     교육  1.211270e+11  강남구
2      2019         3     교육  1.506290e+11  강남구
3      2019         4     교육  1.834170e+11  강남구
4      2020         1     교육  1.459450e+11  강남구
..      ...       ...    ...           ...  ...
83     2019         4     패션  5.358960e+11  강남구
84     2020         1     패션  3.664840e+11  강남구
85     2020         2     패션  4.393280e+11  강남구
86     2020         3     패션  3.882950e+11  강남구
87     2020         4     패션  4.456010e+11  강남구

[88 rows x 5 columns]

In [105]:
geo_1_2020 = geo_1["기준_년_코드"] == 2020
geo_2_2020 = geo_2["기준_년_코드"] == 2020

geo_1_2020 = geo_1[geo_1_2020]
geo_2_2020 = geo_2[geo_2_2020]

geo_2_2020

    기준_년_코드  기준_분기_코드 filter      당월_매출_금액  행정구
4      2020         1     교육  1.459450e+11  강남구
5      2020         2     교육  1.643390e+11  강남구
6      2020         3     교육  1.703600e+11  강남구
7      2020         4     교육  1.534170e+11  강남구
12     2020         1     기타  2.125680e+11  강남구
13     2020         2     기타  2.143670e+11  강남구
14     2020         3     기타  2.165940e+11  강남구
15     2020         4     기타  2.118720e+11  강남구
20     2020         1     미용  2.502080e+11  강남구
21     2020         2     미용  2.433250e+11  강남구
22     2020         3     미용  2.532770e+11  강남구
23     2020         4     미용  2.408470e+11  강남구
28     2020         1     식품  8.906000e+11  강남구
29     2020         2     식품  9.051740e+11  강남구
30     2020         3     식품  8.782960e+11  강남구
31     2020         4     식품  8.144570e+11  강남구
36     2020         1     의료  6.221320e+11  강남구
37     2020         2     의료  6.263780e+11  강남구
38     2020         3     의료  6.090700e+11  강남구
39     2020         4     의료  6.058460e+11  강남구
44     2020         1   인테리어  5.043709e+10  강남구
45     2020         2   인테리어  5.652756e+10  강남구
46     2020         3   인테리어  5.110244e+10  강남구
47     2020         4   인테리어  6.399208e+10  강남구
52     2020         1    자동차  1.251368e+10  강남구
53     2020         2    자동차  1.700461e+10  강남구
54     2020         3    자동차  1.420931e+10  강남구
55     2020         4    자동차  1.490471e+10  강남구
60     2020         1     전자  4.429966e+10  강남구
61     2020         2     전자  4.220393e+10  강남구
62     2020         3     전자  4.748862e+10  강남구
63     2020         4     전자  4.777961e+10  강남구
68     2020         1     주거  6.807583e+09  강남구
69     2020         2     주거  6.047005e+09  강남구
70     2020         3     주거  6.791351e+09  강남구
71     2020         4     주거  5.595902e+09  강남구
76     2020         1     취미  1.187390e+11  강남구
77     2020         2     취미  1.119150e+11  강남구
78     2020         3     취미  1.014620e+11  강남구
79     2020         4     취미  1.177100e+11  강남구
84     2020         1     패션  3.664840e+11  강남구
85     2020         2     패션  4.393280e+11  강남구
86     2020         3     패션  3.882950e+11  강남구
87     2020         4     패션  4.456010e+11  강남구

In [111]:
geo_sum_2020 = []
filter_2020 = []
sum = 0
num = len(geo_1_2020)


for i in range(0, num, 4):
        for j in range(0,4):
            k = geo_1_2020.iloc[i+j, 3]
            sum += k
        filter_2020.append(geo_1_2020.iloc[i,2])
        geo_sum_2020.append(sum)
        if (i == num):
            break
        sum = 0 # 초기화
geo_sum_2020
filter_2020

a = sorted(range(len(geo_sum_2020)), key=lambda i: geo_sum_2020[i], reverse=True)[:4]

trans = []
for i in range(0, 4):
    check = a[i]
    trans.append(filter_2020[check])

trans

['식품', '패션', '기타', '의료']

In [107]:
geo_sum_2020_1 = []
filter_2020_1 = []
sum = 0
num = len(geo_2_2020)


for i in range(0, num, 4):
        for j in range(0,4):
            k = geo_2_2020.iloc[i+j, 3]
            sum += k
        filter_2020_1.append(geo_2_2020.iloc[i,2])
        geo_sum_2020_1.append(sum)
        if (i == num):
            break
        sum = 0 # 초기화
geo_sum_2020_1
#filter_2020_1


a = sorted(range(len(geo_sum_2020_1)), key=lambda i: geo_sum_2020_1[i], reverse=True)[:4]

trans = []
for i in range(0, 4):
    check = a[i]
    trans.append(filter_2020_1[check])

trans # 강남

['식품', '의료', '패션', '미용']

In [115]:
geo_1_1 = geo_1["filter"] == "식품"
geo_1_2 = geo_1["filter"] == "패션"
geo_1_3 = geo_1["filter"] == "기타"
geo_1_4 = geo_1["filter"] == "의료"

geo_filter = pd.concat([geo_1[geo_1_1], geo_1[geo_1_2], geo_1[geo_1_3], geo_1[geo_1_4]])

geo_filter.to_csv('C:/Users/acer/talkative/최종/geo_filter_종로.csv', encoding = 'cp949')

In [116]:
geo_2_1 = geo_2["filter"] == "식품"
geo_2_2 = geo_2["filter"] == "의료"
geo_2_3 = geo_2["filter"] == "패션"
geo_2_4 = geo_2["filter"] == "미용"


geo_filter_1 = pd.concat([geo_2[geo_2_1], geo_2[geo_2_2], geo_2[geo_2_3], geo_2[geo_2_4]])

geo_filter_1.to_csv('C:/Users/acer/talkative/최종/geo_filter_강남.csv', encoding = 'cp949')