In [84]:
import pandas as pd
move=pd.read_csv('C:/Users/acer/talkative/추정유동인구.csv', encoding = 'cp949')

c:\users\acer\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [85]:
m_19 = move["기준 년코드"] == 2019
m_20 = move["기준 년코드"] == 2020
move = pd.concat([move[m_19], move[m_20]])
move

,기준 년코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,...,여성연령대_60_이상_토요일시간대_3_유동인구_수,여성연령대_60_이상_토요일시간대_4_유동인구_수,여성연령대_60_이상_토요일시간대_5_유동인구_수,여성연령대_60_이상_토요일시간대_6_유동인구_수,여성연령대_60_이상_일요일시간대_1_유동인구_수,여성연령대_60_이상_일요일시간대_2_유동인구_수,여성연령대_60_이상_일요일시간대_3_유동인구_수,여성연령대_60_이상_일요일시간대_4_유동인구_수,여성연령대_60_이상_일요일시간대_5_유동인구_수,여성연령대_60_이상_일요일시간대_6_유동인구_수
6028,2019,4,U,관광특구,1001496,강남 마이스 관광특구,130493,62349,68144,10295,...,230,244,225,60,68,136,217,223,183,53
6029,2019,4,U,관광특구,1001495,잠실 관광특구,3225556,1560862,1664693,322793,...,7095,7590,9399,4961,8232,7287,6496,6976,8268,4591
6030,2019,4,U,관광특구,1001494,종로?청계 관광특구,4917960,2608973,2308987,203446,...,17793,19041,13727,5441,7247,8787,10689,11499,9642,5090
6031,2019,4,U,관광특구,1001493,동대문패션타운 관광특구,3875197,1845939,2029259,175096,...,9073,8548,7251,4031,6930,6949,6423,6462,7475,6167
6032,2019,4,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,5278508,2602365,2676143,218046,...,20491,20970,11303,2507,2827,7659,11788,10602,6849,1942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6023,2020,1,A,골목상권,1000005,백석동길,178717,84537,94180,23100,...,528,489,624,551,1223,959,534,502,710,606
6024,2020,1,A,골목상권,1000004,명륜길,623119,308084,315037,67533,...,1289,1294,1837,1663,3469,2603,1370,1350,1987,1652
6025,2020,1,A,골목상권,1000003,돈화문로11가길,178244,99189,79055,11059,...,422,445,444,251,477,433,337,337,364,229
6026,2020,1,A,골목상권,1000002,난계로27길,347131,178486,168645,18416,...,958,998,861,554,1110,1036,923,1008,779,512
6027,2020,1,A,골목상권,1000001,계동길,336343,169874,166470,33331,...,845,788,921,658,1297,1189,794,673,888,675

In [86]:
move = move.iloc[:, 0:28]
move = move.drop ([move.columns[2],move.columns[3]], axis = 1)
move

,기준 년코드,기준_분기_코드,상권_코드,상권_코드_명,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,...,시간대_4_유동인구_수,시간대_5_유동인구_수,시간대_6_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
6028,2019,4,1001496,강남 마이스 관광특구,130493,62349,68144,10295,31356,35891,...,32571,30362,8047,18073,19528,19648,20505,21231,17163,14342
6029,2019,4,1001495,잠실 관광특구,3225556,1560862,1664693,322793,697329,715276,...,510653,680831,383016,441073,451695,460561,460604,476016,491258,444351
6030,2019,4,1001494,종로?청계 관광특구,4917960,2608973,2308987,203446,865660,915511,...,1032981,1015875,435754,738660,774014,759341,778310,790498,645325,431814
6031,2019,4,1001493,동대문패션타운 관광특구,3875197,1845939,2029259,175096,735062,959768,...,553003,634125,499898,586935,605283,596035,599015,613920,488288,385722
6032,2019,4,1001492,명동 남대문 북창동 다동 무교동 관광특구,5278508,2602365,2676143,218046,1013606,1283498,...,1304498,1108375,298597,829796,877701,830413,854111,877046,582451,426988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6023,2020,1,1000005,백석동길,178717,84537,94180,23100,25805,20942,...,18484,25821,22841,25034,25342,25387,25076,24783,26291,26804
6024,2020,1,1000004,명륜길,623119,308084,315037,67533,234421,65177,...,68835,90336,79279,89432,89834,89512,89256,87147,88125,89813
6025,2020,1,1000003,돈화문로11가길,178244,99189,79055,11059,34020,35804,...,35594,35857,15592,26371,27625,27102,27552,27240,22891,19464
6026,2020,1,1000002,난계로27길,347131,178486,168645,18416,60073,64290,...,57760,52530,34183,49324,49452,49368,50886,49231,49253,49617
6027,2020,1,1000001,계동길,336343,169874,166470,33331,48735,65271,...,53858,54837,32449,50723,53001,50478,51241,50032,41365,39502

In [87]:
move.index = move["기준 년코드"].map(str) + "_" + move["기준_분기_코드"].map(str)+ " " + move["상권_코드"].map(str)
move

,기준 년코드,기준_분기_코드,상권_코드,상권_코드_명,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,...,시간대_4_유동인구_수,시간대_5_유동인구_수,시간대_6_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
2019_4 1001496,2019,4,1001496,강남 마이스 관광특구,130493,62349,68144,10295,31356,35891,...,32571,30362,8047,18073,19528,19648,20505,21231,17163,14342
2019_4 1001495,2019,4,1001495,잠실 관광특구,3225556,1560862,1664693,322793,697329,715276,...,510653,680831,383016,441073,451695,460561,460604,476016,491258,444351
2019_4 1001494,2019,4,1001494,종로?청계 관광특구,4917960,2608973,2308987,203446,865660,915511,...,1032981,1015875,435754,738660,774014,759341,778310,790498,645325,431814
2019_4 1001493,2019,4,1001493,동대문패션타운 관광특구,3875197,1845939,2029259,175096,735062,959768,...,553003,634125,499898,586935,605283,596035,599015,613920,488288,385722
2019_4 1001492,2019,4,1001492,명동 남대문 북창동 다동 무교동 관광특구,5278508,2602365,2676143,218046,1013606,1283498,...,1304498,1108375,298597,829796,877701,830413,854111,877046,582451,426988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020_1 1000005,2020,1,1000005,백석동길,178717,84537,94180,23100,25805,20942,...,18484,25821,22841,25034,25342,25387,25076,24783,26291,26804
2020_1 1000004,2020,1,1000004,명륜길,623119,308084,315037,67533,234421,65177,...,68835,90336,79279,89432,89834,89512,89256,87147,88125,89813
2020_1 1000003,2020,1,1000003,돈화문로11가길,178244,99189,79055,11059,34020,35804,...,35594,35857,15592,26371,27625,27102,27552,27240,22891,19464
2020_1 1000002,2020,1,1000002,난계로27길,347131,178486,168645,18416,60073,64290,...,57760,52530,34183,49324,49452,49368,50886,49231,49253,49617
2020_1 1000001,2020,1,1000001,계동길,336343,169874,166470,33331,48735,65271,...,53858,54837,32449,50723,53001,50478,51241,50032,41365,39502

In [141]:
sales_2019 = pd.read_csv('C:/Users/acer/talkative/추정매출_2019.csv', encoding = 'cp949')
sales_2020 = pd.read_csv('C:/Users/acer/talkative/추정매출_2020.csv', encoding = 'cp949')

sales = pd.concat([sales_2019, sales_2020])

In [142]:
sales = sales[['기준_년_코드', '기준_분기_코드', '상권_구분_코드_명', 
               '상권_코드', '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', '당월_매출_금액']]
s_code = sales.iloc[:, 3]
sales.index = s_code.map(str) + " " + sales["서비스_업종_코드_명"].map(str)
sales

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액
1000985 예술학원,2019,1,골목상권,1000985,암사길,CS200003,예술학원,20061598
1000267 노래방,2019,1,골목상권,1000267,돌곶이로8길,CS200037,노래방,510636
1001445 섬유제품,2019,1,전통시장,1001445,영도시장,CS300027,섬유제품,4038928
1000789 시계및귀금속,2019,1,골목상권,1000789,난곡로24길,CS300017,시계및귀금속,5085873
1000930 일반교습학원,2019,1,골목상권,1000930,언주로81길,CS200001,일반교습학원,527027
...,...,...,...,...,...,...,...,...
1000001 제과점,2020,1,골목상권,1000001,계동길,CS100005,제과점,257814129
1000001 양식음식점,2020,1,골목상권,1000001,계동길,CS100004,양식음식점,156728306
1000001 일식음식점,2020,1,골목상권,1000001,계동길,CS100003,일식음식점,55484866
1000001 중식음식점,2020,1,골목상권,1000001,계동길,CS100002,중식음식점,25767161
1000001 한식음식점,2020,1,골목상권,1000001,계동길,CS100001,한식음식점,431442455

In [143]:
sales["개수"] = sales.groupby(sales.index).size()
is_all = sales["개수"] == 8
sales = sales[is_all]


sales.index = sales["상권_코드"].map(str) + "_" +sales["서비스_업종_코드_명"].map(str)
sales

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,개수
1000985_예술학원,2019,1,골목상권,1000985,암사길,CS200003,예술학원,20061598,8
1000267_노래방,2019,1,골목상권,1000267,돌곶이로8길,CS200037,노래방,510636,8
1001001_스포츠 강습,2019,1,골목상권,1001001,천중로39길,CS200005,스포츠 강습,22390312,8
1001483_수산물판매,2019,1,전통시장,1001483,암사종합시장,CS300008,수산물판매,1712543938,8
1000612_슈퍼마켓,2019,1,골목상권,1000612,개봉로1길,CS300001,슈퍼마켓,42028959,8
...,...,...,...,...,...,...,...,...,...
1000001_패스트푸드점,2020,1,골목상권,1000001,계동길,CS100006,패스트푸드점,35752631,8
1000001_제과점,2020,1,골목상권,1000001,계동길,CS100005,제과점,257814129,8
1000001_양식음식점,2020,1,골목상권,1000001,계동길,CS100004,양식음식점,156728306,8
1000001_중식음식점,2020,1,골목상권,1000001,계동길,CS100002,중식음식점,25767161,8
1000001_한식음식점,2020,1,골목상권,1000001,계동길,CS100001,한식음식점,431442455,8

In [144]:
sales_ = sales[['기준_년_코드', '기준_분기_코드', '상권_코드', '상권_코드_명','서비스_업종_코드_명', '당월_매출_금액']]
sales_ = sales_.groupby(by =['기준_년_코드','상권_코드', '상권_코드_명', '기준_분기_코드', '서비스_업종_코드_명']).mean()

sales_

                                                     당월_매출_금액
기준_년_코드 상권_코드   상권_코드_명     기준_분기_코드 서비스_업종_코드_명
2019    1000001 계동길         1        가방              36799021
                                     미용실             64743155
                                     분식전문점          216414925
                                     슈퍼마켓           249342030
                                     양식음식점          190423119
...                                                       ...
2020    1001496 강남 마이스 관광특구 4        피부관리실            6663494
                                     한식음식점         2964219636
                                     핸드폰           1109131355
                                     화장품          23110960918
                                     화초             409610564

[229184 rows x 1 columns]

In [145]:
sales_=sales_.reset_index(drop=False)
sales_.index = sales_["상권_코드"].map(str)

sales_

         기준_년_코드    상권_코드      상권_코드_명  기준_분기_코드 서비스_업종_코드_명     당월_매출_금액
상권_코드
1000001     2019  1000001          계동길         1          가방     36799021
1000001     2019  1000001          계동길         1         미용실     64743155
1000001     2019  1000001          계동길         1       분식전문점    216414925
1000001     2019  1000001          계동길         1        슈퍼마켓    249342030
1000001     2019  1000001          계동길         1       양식음식점    190423119
...          ...      ...          ...       ...         ...          ...
1001496     2020  1001496  강남 마이스 관광특구         4       피부관리실      6663494
1001496     2020  1001496  강남 마이스 관광특구         4       한식음식점   2964219636
1001496     2020  1001496  강남 마이스 관광특구         4         핸드폰   1109131355
1001496     2020  1001496  강남 마이스 관광특구         4         화장품  23110960918
1001496     2020  1001496  강남 마이스 관광특구         4          화초    409610564

[229184 rows x 6 columns]

In [146]:
filter_value = {'전자상거래업':'전자','가전제품': '전자', '핸드폰' : '전자', '컴퓨터및주변장치판매': '전자'
               , '가전제품수리': '전자', '통신기기수리' : '전자', '가구' : '인테리어', '화초' : '인테리어', 
                '조명용품' : '인테리어', '예술품' : '인테리어', '인테리어' : '인테리어',
               '예술학원' : '교육', '외국어학원' : '교육', '일반교습학원' : '교육',
               '고시원': '주거', '여관' : '주거', '부동산중개업' : '주거', '건축물청소' : '주거',
                '섬유제품' : '패션', '시계및귀금속' : '패션', '가방' : '패션', '신발' : '패션', '일반의류' : '패션',
                '한복점' : '패션', '유아의류' : '패션', '패션' : '패션',
                '화장품' : '미용', '피부관리실' : '미용' , '네일숍' : '미용', '미용실' : '미용',
                '운동/경기용품': '취미', '스포츠클럽': '취미', '노래방': '취미', 'pc방': '취미', '골프연습장': '취미', 
                '당구장': '취미', '스포츠 강습': '취미', '자전거 및 기타운송장비': '취미', '볼링장': '취미', '악기': '취미','서적' : '취미',
                '비디오/서적임대': '취미', '반찬가게': '식품', '슈퍼마켓': '식품', '커피-음료': '식품', '분식전문점': '식품', 
                '패스트푸드점': '식품', '제과점': '식품', '양식음식점': '식품', '일식음식점': '식품', '중식음식점': '식품',
                '한식음식점': '식품', '육류판매': '식품', '호프-간이주점': '식품','치킨전문점': '식품', '청과상': '식품', 
                '수산물판매': '식품', '미곡판매': '식품', '의약품': '의료', '치과의원': '의료', '일반의원': '의료', 
                '의료기기': '의료', '한의원': '의료', '자동차수리': '자동차', 
                '자동차미용': '자동차', '자동차부품': '자동차', '중고차판매': '자동차','완구': '기타', '문구': '기타', 
                '안경': '기타', '편의점': '기타', '철물점': '기타', '애완동물': '기타', '여행사': '기타', '사진관': '기타', '세탁소' : '기타',
                '법무사사무소': '기타', '독서실': '기타', '세무사사무소': '기타', '주유소': '기타', '변호사사무소': '기타', '회계사사무소': '기타'}

In [150]:
sales_["filter"] = sales_["서비스_업종_코드_명"].apply(lambda x: filter_value[x.lower()])
sales_.index = sales_["기준_년_코드"].map(str) + "_" + sales_["기준_분기_코드"].map(str)+ " " + sales_["상권_코드"].map(str)
sales_

,기준_년_코드,상권_코드,상권_코드_명,기준_분기_코드,서비스_업종_코드_명,당월_매출_금액,filter
2019_1 1000001,2019,1000001,계동길,1,가방,36799021,패션
2019_1 1000001,2019,1000001,계동길,1,미용실,64743155,미용
2019_1 1000001,2019,1000001,계동길,1,분식전문점,216414925,식품
2019_1 1000001,2019,1000001,계동길,1,슈퍼마켓,249342030,식품
2019_1 1000001,2019,1000001,계동길,1,양식음식점,190423119,식품
...,...,...,...,...,...,...,...
2020_4 1001496,2020,1001496,강남 마이스 관광특구,4,피부관리실,6663494,미용
2020_4 1001496,2020,1001496,강남 마이스 관광특구,4,한식음식점,2964219636,식품
2020_4 1001496,2020,1001496,강남 마이스 관광특구,4,핸드폰,1109131355,전자
2020_4 1001496,2020,1001496,강남 마이스 관광특구,4,화장품,23110960918,미용
2020_4 1001496,2020,1001496,강남 마이스 관광특구,4,화초,409610564,인테리어

In [152]:
sales_move_merge_1920 = pd.merge(sales_, move, left_index=True, right_index=True, how="inner")
sales_move_merge_1920=sales_move_merge_1920.reset_index(drop=True)

sales_move_merge_1920

,기준_년_코드,상권_코드_x,상권_코드_명_x,기준_분기_코드_x,서비스_업종_코드_명,당월_매출_금액,filter,기준 년코드,기준_분기_코드_y,상권_코드_y,...,시간대_4_유동인구_수,시간대_5_유동인구_수,시간대_6_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
0,2019,1000001,계동길,1,가방,36799021,패션,2019,1,1000001,...,64930,61286,33932,57545,58137,59311,61265,58520,45200,40915
1,2019,1000001,계동길,1,미용실,64743155,미용,2019,1,1000001,...,64930,61286,33932,57545,58137,59311,61265,58520,45200,40915
2,2019,1000001,계동길,1,분식전문점,216414925,식품,2019,1,1000001,...,64930,61286,33932,57545,58137,59311,61265,58520,45200,40915
3,2019,1000001,계동길,1,슈퍼마켓,249342030,식품,2019,1,1000001,...,64930,61286,33932,57545,58137,59311,61265,58520,45200,40915
4,2019,1000001,계동길,1,양식음식점,190423119,식품,2019,1,1000001,...,64930,61286,33932,57545,58137,59311,61265,58520,45200,40915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229179,2020,1001496,강남 마이스 관광특구,4,피부관리실,6663494,미용,2020,4,1001496,...,21377,19466,5202,14166,14782,15082,14512,13934,10092,8270
229180,2020,1001496,강남 마이스 관광특구,4,한식음식점,2964219636,식품,2020,4,1001496,...,21377,19466,5202,14166,14782,15082,14512,13934,10092,8270
229181,2020,1001496,강남 마이스 관광특구,4,핸드폰,1109131355,전자,2020,4,1001496,...,21377,19466,5202,14166,14782,15082,14512,13934,10092,8270
229182,2020,1001496,강남 마이스 관광특구,4,화장품,23110960918,미용,2020,4,1001496,...,21377,19466,5202,14166,14782,15082,14512,13934,10092,8270
229183,2020,1001496,강남 마이스 관광특구,4,화초,409610564,인테리어,2020,4,1001496,...,21377,19466,5202,14166,14782,15082,14512,13934,10092,8270